
.info .title, #price-info {
    font-size: 1.6em;
    font-weight: bold;
    padding: 12px 0;
}

.info #price-info {
    color: var(--very-dark-blue)
}

#price-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#price-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#discount {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.4em;
    margin-left: 0.4em;
    font-size: 0.7em;
    background-color: var(--pale-orange);
    color: var(--orange);
}

#originalPrice {
    display: flex;
    color: var(--grayish-blue);
    font-size: 0.6em;
    text-decoration: line-through;
}
