header, .side-menu, .profile{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

header{
    /* ACIMA DE 320px */
    /* padding: 0.8em 2em; */
    /* PENSANDO NO MOBILE S: 320px */
    padding-right: 1.2em;
    padding-left: 0.6em;
    justify-content: space-between;
}

#logo {
    font-size: 2em;
    font-weight: bolder;
}

.profile {
    gap: 1.5em;
    
}

.side-menu {
    gap: 0.4em;
}

.btn-menu, .btn-close {
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-menu {
    margin-top: 0.5em;
    background-image: url(../img/icon-menu.svg);
}

.btn-close {
    background-image: url(../img/icon-close.svg);
    margin-bottom: 1.5em;
    margin-top: 12px;
}

.side-bar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding-left: 1em;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: 100vh;
    transition: 0.5s;
    margin-left: -100vw;
}

.side-menu a {
    text-decoration: none;
    padding: 0.5em
}

#cart-icon {
    background: url(../img/icon-cart.svg) no-repeat center;
    width: 1.5em;
    height: 1.5em;
}

#cart-icon p {
    text-indent: -3000px;
}

#cart-count {
    position: absolute;
    top: 0.5em;
    margin-left: 10px;
    background-color: var(--orange);
    color: #fff;
    text-align: center;
    font-size: 12px;
    width: 20px;
    border-radius: 18px;
}

.no-count {
    display: none;
}

#avatar {
    background: url(../img/image-avatar.png) no-repeat center;
    background-size: contain;
    border-radius: 1.5em;
    text-indent: -3000px;
    width: 1.5em;
    height: 1.5em;
}