header, .side-menu, .profile{
    display: flex;
    flex-direction: row; 
    align-items: center;
}

header{
    border: 1px solid red;
    padding: 0.8em 2em;
    justify-content: space-between;
}

#logo {
    font-size: 2em;
    font-weight: bolder;
    border: 1px solid red;
}

.side-menu, .profile {
    gap: 1.5em;
}

.btn-menu, .btn-close {
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-menu {
    background-image: url(../img/icon-menu.svg);
    border: 1px solid red;
}

.btn-close {
    background-image: url(../img/icon-close.svg);
    margin-bottom: 24px;
}

.side-bar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding-left: 2em;
    flex-direction: column;
    background-color: white;
    width: 50%;
    height: 100vh;
    transition: 0.5s;
    margin-left: -100vw;
}

.side-menu a {
    text-decoration: none;
    padding: 8px
}

#cart-icon {
    background: url(../img/icon-cart.svg) no-repeat center;
    text-indent: -3000px;
    width: 24px;
    height: 24px;
}

#avatar {
    background: url(../img/image-avatar.png) no-repeat center;
    background-size: contain;
    border-radius: 25px;
    text-indent: -3000px;
    width: 24px;
    height: 24px;
}